<main>
    <section class="detail">
        <div class="detail-view parent up" *ngIf="loading">
            Loading...
        </div>
        <div class="detail-view parent up" *ngIf="!loading">
            <div class="child-img"></div>
            <div class="data">
                <div class="text">
                    <p>Merci à TabmoLabs de m'avoir donné l'oportunité de faire ce projet ❤️ Je suis conscient
                        que j'ai encore beaucoup de choses à apprendre mais c'est ça qui est excitant !</p>
                    <p>J'ai hâte d'avoir votre réponse et de pouvoir vous appporter le maximum en rejoignant votre belle équipe.</p>
                    <p>À bientôt.</p>
                    <p class="signature">Timothy ALCAIDE</p>
                </div>

            </div>
        </div>
    </section>
    <section class="detail">
        <a class="previous" href="" routerLink="/shop">👈 shop</a>
        <a class="next" href="" routerLink="/cart">cart 👉</a>
    </section>
</main>