.text {
  padding: 15px;
  margin-top: 25px;
  border: 2px solid var(--primaryColorDark);
  font-size: 0.75em;
}

.select-version {
  background-color: var(--primaryColorDark);
  color: white;
  border: 2px solid var(--primaryColorDark);
  padding: 6px;
}
