.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
  z-index: 2;
}

.mb {
  margin-top: -150px;
}

.loading {
  height: 300px;
  width: 70vw;
  padding-top: 150px;
  text-align: center;
  background: var(--tertiaryColorDark);
  font-size: 1.5em;
  color: white;
}
