<main>
  <section class="flex-container" *ngIf="isInProgress$ | async">
    <div class="loading">
      <app-preloader></app-preloader>
    </div>
  </section>
  <section class="flex-container mb">
    <app-filters (typeId)="onSetTypeId($event)"></app-filters>
  </section>
  <section class="flex-container" *ngIf="!(isInProgress$ | async)">
    <div *ngFor="let pokemon of filterPokemons$ | async">
      <app-card [pokemon]="pokemon"></app-card>
    </div>
    <app-pagination
      [offset]="offset$ | async"
      [limit]="limit$ | async"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </section>
</main>
