<main>
  <section class="shopping">
    <!-- <div class="shopping-cart up" *ngIf="loading">
      <app-preloader></app-preloader>
    </div> -->
    <div class="shopping-cart up">
      <div class="title" *ngIf="(totalItems$ | async) > 0; else noPokemon">
        You have {{ totalItems$ | async }} pokemons in your bag
      </div>
      <ng-template #noPokemon>
        <div class="title">
          Why ? You don't like pokemon ?
        </div>
        <div>
          <img
            src="http://giphygifs.s3.amazonaws.com/media/Pok6284jGzyGA/200w_d.gif"
            alt="Pikatchu is sad"
          />
        </div>
      </ng-template>
      <div class="item" *ngFor="let item of items$ | async">
        <div class="buttons">
          <span (click)="deleteItems(item)" class="delete-btn"></span>
        </div>
        <div class="img">
          <img
            class="image"
            src="{{ item.sprite }}"
            alt="Image of {{ item.name }}"
          />
        </div>
        <div class="description">
          <span>{{ item.name }}</span>
        </div>
        <div class="price">$ {{ item.price }}</div>

        <div class="quantity">
          <button
            (click)="removeItem(item)"
            class="plus-btn"
            type="button"
            name="button"
          >
            -
          </button>
          <input type="text" name="name" value="{{ item.quantity }}" />
          <button
            (click)="addItem(item)"
            class="minus-btn"
            type="button"
            name="button"
          >
            +
          </button>
        </div>
        <div class="price">
          <b>$ {{ item.price * item.quantity | number: '1.2-2' }}</b>
        </div>
      </div>

      <div *ngIf="(totalItems$ | async) > 0">
        <button routerLink="/hire-me" class="button">
          Buy now<br />{{ totalAmount$ | async | number: '1.2-2' }}<br />💸
        </button>
        <p *ngIf="(totalAmount$ | async) > 40">Free shipping !</p>
      </div>
    </div>
  </section>
</main>
