<footer class="footer">
  <div class="footerLinksContainer">
    <div class="footerLinks">
      <p>Shop</p>
      <a href="" routerLink="/about">About</a>
      <a href="" routerLink="/shop">Shop</a>
      <a href="" routerLink="/cart">Cart</a>
    </div>
    <div class="footerLinks">
      <p>About Us</p>
      <a href="https://www.linkedin.com/in/timothyalcaide/">Our Story</a>
      <a href="https://www.linkedin.com/in/timothyalcaide/">Press</a>
      <a href="https://www.linkedin.com/in/timothyalcaide/">Blog</a>
      <a href="https://www.linkedin.com/in/timothyalcaide/">Jobs</a>
    </div>
  </div>
  <div class="newsletter">
    <p>Wouldn't knit be terrible to miss shop updates?</p>
    <div class="emailContainer">
      <form>
        <input type="email" placeholder="timothyalcaide@gmail.com" />
        <a class="button">Sign&nbsp;Up</a>
      </form>
    </div>
  </div>
</footer>
