.progress {
  -webkit-appearance: none;
  border: none;
  border-radius: 20px;
  display: block;
  height: 0.6rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
}

.stats {
  margin-top: 15px;
}
