<main>
  <section class="section intro">
    <h2>
      The pokemon shop where you will find everything a pokemon trainer needs...
    </h2>
  </section>
  <section class="section teaser teaserYarns mobileCenter">
    <div class="sectionImg"></div>
    <div class="sectionCopy" data-aos="fade-up">
      <h3>Catch your pokemons</h3>
      <p>
        Quisque porttitor luctus tortor suscipit lobortis. Nam quis magna
        rhoncus, vehicula.
      </p>
      <a routerLink="/shop" class="button">Shop</a>
    </div>
  </section>
  <section class="section teaser teaserPatterns mobileCenter">
    <div class="sectionImg"></div>
    <div class="sectionCopy" data-aos="fade-up">
      <h3>Play with them</h3>
      <p>
        Quisque porttitor luctus tortor suscipit lobortis. Nam quis magna
        rhoncus, vehicula.
      </p>
      <a routerLink="/shop" class="button">Shop</a>
    </div>
  </section>
  <section class="section teaser teaserAccessories mobileCenter">
    <div class="sectionImg"></div>
    <div class="sectionCopy" data-aos="fade-up">
      <h3>Be the best</h3>
      <p>
        Quisque porttitor luctus tortor suscipit lobortis. Nam quis magna
        rhoncus, vehicula.
      </p>
      <a routerLink="/shop" class="button">Shop</a>
    </div>
  </section>
  <section class="valueProps section">
    <h3>Small Business Supporting Big Ideas</h3>
    <div class="grid-3">
      <div class="grid-3-item">
        <div class="grid-3-img quality" data-aos="zoom-in"></div>
        <h4>Building aCommunity</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac
          libero suscipit libero consectetur finibus. Nam vitae condimentum
          mauris.
        </p>
      </div>
      <div class="grid-3-item">
        <div class="grid-3-img" data-aos="zoom-in" data-aos-delay="150"></div>
        <h4>Sustainable Products</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac
          libero suscipit libero consectetur finibus.
        </p>
      </div>
      <div class="grid-3-item">
        <div class="grid-3-img" data-aos="zoom-in" data-aos-delay="300"></div>
        <h4>Giving Back</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac
          libero suscipit libero consectetur finibus. Nam vitae condimentum
          mauris.
        </p>
      </div>
    </div>
  </section>
  <section class="shopCTA section">
    <h3>Free shipping when you spend $50 or more.</h3>
    <a class="button buttonLarge secondary" routerLink="/shop">Shop Now</a>
  </section>
</main>
